html {
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    color: #274752;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #2A3858;
}

header {
    padding: 20px 0;
}

body {
    background-color: #787D7E;
    border-radius: 7px;
}

footer {
    max-width: 1020px;
    height: 60px;
    margin: auto;
    padding: 2px 0 20px;
    text-align: center;
    background-color: #2B5A46;
    border-radius: 7px;
    color: #D3D7D5;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #CAC5C0;
}

tbody tr:nth-child(even) {
    background-color: #CCD1D3;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 30px 30px 30px;
    background-color: #CCD1D3;
    border-radius: 7px;
}

#main_info {
    max-width: 960px;
    max-height: 300px;
}

#ava {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
    float: left;
    border-radius: 7px;

}

#about_me {
    display: inline-block;
    width: 600px;
    height: 300px;
    float: left;
    float: top;
}

#footer_link {
    color: #CCD1D3;
}