html {
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    color: #274752;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: left;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #2A3858;
}

header {
    padding: 20px 0;
}

body {
    background-color: #787D7E;
    border-radius: 7px;
}

footer {
    max-width: 1020px;
    height: 60px;
    margin: auto;
    padding: 2px 0 20px;
    text-align: center;
    background-color: #2B5A46;
    border-radius: 7px;
    color: #D3D7D5;
}

/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/

#education tr:nth-child(odd) {
    background-color: #CAC5C0;
}

#education tr:nth-child(even) {
    background-color: #CCD1D3;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-left: 160px;
    /*margin: auto;*/
}

#wrapper {
    max-width: 960px;
    min-height: 810px;
    margin: auto;
    padding: 0 30px 30px 30px;
    background-color: #CCD1D3;
    border-radius: 7px;
}

#main_info {
    max-width: 960px;
}

#ava {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
    float: left;
    border-radius: 7px;
}

#about_me {
    display: inline-block;
    width: 600px;
    height: 300px;
    float: left;
    float: top;
}

#footer_link {
    color: #CCD1D3;
}

#calculate {
    display: inline-block;
    float: right;
    border-radius: 7px;
}

#calculate:hover {
    opacity: 0.75;
    background-color: #2B5A46;
}

#response {
    display: inline-block;
    padding: 0px 30px 30px 160px;
}

#result {
    display: inline-block;
    padding: 0px 30px 30px 100px;
}

.evenColor {
    background: #CAC5C0;
}

.unevenColor {
    background: #CCD1D3;
}

.shadow {
    display: none;
}